@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        padding: 0;
        margin: 0;
        font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        @apply text-gray-100;
    }

    @font-face {
        font-family: "Inter";
        font-weight: 1 999;
        font-display: optional;
        src: url("/fonts/Inter-Variable.woff2") format("woff2");
    }
}
