@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        padding: 0;
        margin: 0;
        font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        @apply text-gray-100;
    }

    @font-face {
        font-family: "Inter";
        font-weight: 1 999;
        font-display: optional;
        src: url("/fonts/Inter-Variable.woff2") format("woff2");
    }
}

@layer components {
    .rose-clip-text {
        @apply text-transparent bg-gradient-to-b from-red-600 to-pink-500 bg-clip-text;
    }

    .amber-clip-text {
        @apply text-transparent bg-gradient-to-b from-amber-600 to-yellow-400 bg-clip-text;
    }

    .yellow-clip-text {
        @apply text-transparent bg-gradient-to-b from-yellow-400 to-yellow-200 bg-clip-text;
    }

    .link-text {
        @apply hover:pb-1 text-gray-500 hover:border-b hover:border-b-rose-500 hover:text-rose-500 transition-all duration-200 ease-in;
    }

    .basic-transition {
        @apply transition-all duration-200 ease-in-out;
    }

    .heading-hero {
        @apply leading-[1.2] !important;
        @apply text-4xl lg:text-5xl xl:text-6xl font-semibold tracking-tight;
    }

    .heading-section {
        @apply text-4xl lg:text-5xl xl:text-6xl font-bold;
    }

    .description-section {
        @apply text-base lg:text-lg text-gray-500 tracking-tight font-light;
    }

    .description-card {
        @apply text-gray-500 tracking-tight font-light text-sm xl:text-base;
    }

    .padding-section {
        @apply py-12 md:py-16 lg:py-20 xl:py-24;
    }

    .button {
        @apply shadow-lg shadow-red-500/50 hover:shadow-yellow-500/50 bg-gradient-to-r to-rose-600 from-rose-500
        font-medium hover:bg-gradient-to-r hover:to-amber-500 hover:from-yellow-500 py-3 px-6 rounded text-gray-100;
    }

    .heading-tracking {
        @apply text-base md:text-lg tracking-wider uppercase rose-clip-text font-semibold
    }

    .input-form {
        @apply placeholder:text-sm placeholder:tracking-tight placeholder:font-light placeholder:xl:text-base
        focus:border-rose-500 focus:ring-0
        transition-colors duration-200 ease-in-out text-gray-900 w-full rounded p-2 tracking-tight font-normal text-sm xl:text-base
        read-only:bg-gray-300 read-only:border-gray-300 read-only:focus:ring-0 read-only:focus:border-gray-300 read-only:text-gray-500;
    }
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply bg-rose-500;
}
