@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        padding: 0;
        margin: 0;
        font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        @apply text-gray-100;
    }

    @font-face {
        font-family: "Inter";
        font-weight: 1 999;
        font-display: optional;
        src: url("/fonts/Inter-Variable.woff2") format("woff2");
    }
}

@layer components {
    .rose-clip-text {
        @apply text-transparent bg-gradient-to-b from-red-600 to-rose-400 bg-clip-text;
    }

    .link-text {
        @apply pb-1 text-gray-500 hover:border-b hover:border-b-rose-500 hover:text-rose-500 transition-all duration-200 ease-in;
    }

    .basic-transition {
        @apply transition-all duration-200 ease-in-out;
    }
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply bg-rose-500;
}
